<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>뿅뿅오락실-{%block u_title %}로그인{%endblock%}</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block u_stylesheet %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    {% block u_header %}{% endblock %}
  </head>
  <div>
    {% block users_contents %}
    {% endblock %}
  </div>
</html>